{% extends "base.html" %}

{% block title %}Survey{% endblock %}

{% block content %}
<div class="container my-5" style="max-width: 768px">
    {% url 'survey:profile' as profile_url %}
    {% url 'survey:dish_list' as dish_url %}
    {% url 'survey:dish_review' as dish_review %}
    <ul class="progressbar" id="progress-bar">
      <li class="{% if progress >= 1 %}active{% endif %}">
        {% if progress >= 1 %}<a href="{{ profile_url }}">Step 1: About you</a>{% else %}Step 1: About you{% endif %}
      </li>
      <li class="{% if progress >= 2 %}active{% endif %}">
        {% if progress >= 2 %}<a href="{{ dish_url }}">Step 2: About food</a>{% else %}Step 2: About food{% endif %}
      </li>
      <li class="{% if progress >= 3 %}active{% endif %}">
        {% if progress >= 3 %}<a href="{{ dish_review }}">Step 3: Review</a>{% else %}Step 3: Review{% endif %}
      </li>
    </ul>
    <br class="clear mb-5"/>
    <h5 class="mb-4 mt-5">{% block subtitle %}{% endblock %}</h5>
    {% block subcontent %}{% endblock %}
  </div>

    <div class="position-fixed top-10 end-0 p-3" style="z-index: 11">
    <div id="successToast" class="toast align-items-center text-white bg-primary border-0 hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Success</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Your review has been recorded.
        </div>
    </div>
    </div>

    <div class="position-fixed top-10 end-0 p-3" style="z-index: 11">
    <div id="successCommentToast" class="toast align-items-center text-white bg-primary border-0 hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Success</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Your comment has been submitted.
        </div>
    </div>
    </div>


{% endblock %}