{% load static %}
{% load humanize %}
{% load custom_filters %}
<link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"
/>
<div class="container my-5">
    {% if page_obj %}
        <table class="table table-striped table-responsive">
            <thead class="thead-dark">
            <tr>
                <th>Country</th>
                <th>Dish</th>
                <th>Image</th>
                <th>Submitted</th>
            </tr>
            </thead>
            <tbody>
            {% for dish in page_obj %}
                <tr aria-expanded="false"
                    aria-controls="dishView{{ dish.id }}" class="clickable_item" data-bs-toggle="tooltip">
                    <td>
                        {% for country in dish.countries.all %}
                            <span class=" fi fi-{{ country.code|lower }}"></span>
                            {{ country.name }}
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ dish.local_name }}</td>
                    <td><img src="
                            {% if dish.image %}{{ dish.image.url }}{% elif dish.image_url %}{{ dish.image_url }}{% else %}{% static 'assets/img/dish_image_placeholder.svg' %}{% endif %}"
                             class="img-fluid"
                             style="width: 64px; height: 64px; border-radius: 50%;"></td>
                    <td>{{ dish.created_at|naturaltime }}</td>
                </tr>
                <tr style="white-space: nowrap;">
                    <td colspan="8">
                        <div id="dishView{{ dish.id }}" class="collapse" style="font-size: 0.9em;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p><strong>Additional Information</strong></p>
                                        {% if dish.english_name %}
                                            <p style="max-width: 100%; word-wrap: break-word; white-space: normal;">
                                                <strong>English Name:</strong> {{ dish.english_name|title }}</p>
                                        {% endif %}

                                        {% if dish.time_of_day %}
                                            <p><strong>Time of
                                                Day:</strong> {{ dish.time_of_day|parse_list_string|title }}
                                            </p>
                                        {% endif %}

                                        {% if dish.type_of_dish %}
                                            <p><strong>Type of
                                                Dish:</strong> {{ dish.type_of_dish|parse_list_string|title }}
                                            </p>
                                        {% endif %}

                                        {% if dish.utensils %}
                                            <p><strong>Utensils:</strong> {{ dish.utensils|title }}</p>
                                        {% endif %}

                                        {% if dish.drink %}
                                            <p><strong>Drink:</strong> {{ dish.drink|title }}</p>
                                        {% endif %}

                                        {% if dish.occasions %}
                                            <p><strong>Occasions:</strong> {{ dish.occasions|title|parse_occasion }}</p>
                                        {% endif %}

                                        {% if dish.ingredients.all.exists %}
                                            <p><strong>Ingredients:</strong>
                                                <span id="shortIngredients{{ dish.id }}">
                                                {% for ingredient in dish.ingredients.all|slice:":3" %}
                                                    {{ ingredient.name|title }}{% if not forloop.last %}, {% endif %}
                                                    {% if forloop.counter == 3 %}
                                                        <a href="#" data-bs-toggle="collapse"
                                                           data-bs-target="#fullIngredients{{ dish.id }}"
                                                           aria-expanded="false"
                                                           aria-controls="fullIngredients{{ dish.id }}">... More</a>
                                                    {% endif %}
                                                {% endfor %}
                                            </span>
                                            <div id="fullIngredients{{ dish.id }}" class="collapse">
                                                <ul>
                                                    {% for ingredient in dish.ingredients.all %}
                                                        <li>{{ ingredient.name|title }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            </p>
                                        {% endif %}

                                        {% if dish.recipe %}
                                            <p><strong>Recipe:</strong> <a href="{{ dish.recipe }}"
                                                                           target="_blank">Link</a></p>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6 d-flex justify-content-end">
                                        <img src="
                                                {% if dish.image %}{{ dish.image.url }}{% elif dish.image_url %}{{ dish.image_url }}{% else %}{% static 'assets/img/dish_image_placeholder.svg' %}{% endif %}"
                                             class="figure-img img-fluid border rounded end mt-2"
                                             style="width: 200px; height: 200px"
                                             alt="{{ dish.local_name }}">
                                    </div>
                                    <div class="col-12 mt-0">
                                        {% if dish.image_details %}
                                            <p style="max-width: 100%; word-wrap: break-word; white-space: normal; margin-top: 0;">
                                                <strong>Image Description:</strong> {{ dish.image_details }}
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation example" class="d-flex justify-content-center">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link page-link-ajax" href="#" data-page="1" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link page-link-ajax" href="#" data-page="{{ page_obj.previous_page_number }}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% if page_obj.number > 4 %}
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                            <a class="page-link page-link-ajax" href="#" data-page="{{ num }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.paginator.num_pages > page_obj.number|add:'2' %}
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                {% endif %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link page-link-ajax" href="#" data-page="{{ page_obj.next_page_number }}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link page-link-ajax" href="#" data-page="{{ page_obj.paginator.num_pages }}"
                           aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% else %}
        <div class="card rounded-card-grey text-center" style="background-color: #f0f0f0;">
            <div class="card-body">
                <p class="card-text">Oops 😔 This list is empty because we haven't received any new dishes today. Be the
                    first one to appear on this list by submitting a dish!😊</p>
                <div class="d-flex justify-content-center">
                    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
                            type="module"></script>
                    <dotlottie-player src="https://lottie.host/5c8a0c2e-aa70-46d8-b965-cdf49d35b601/OEhuoCbhaU.json"
                                      background="transparent" speed="1" style="width: 300px; height: 300px;" loop
                                      autoplay></dotlottie-player>
                </div>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% include 'components/form.html' %}
                    <a href="
                            {% if user.is_anonymous %}{% url 'survey:home' %}{% else %}{% url 'survey:dish_list' %}{% endif %}"
                       class="btn btn-success m-1">Submit Dish</a>
                </form>
            </div>
        </div>
    {% endif %}
</div>
<script>
    $(document).ready(function () {
        // Row click for toggling details
        document.querySelectorAll('.clickable_item').forEach(row => {
            row.addEventListener('click', function () {
                var detailsId = this.getAttribute('aria-controls');
                var detailsDiv = document.getElementById(detailsId);
                new bootstrap.Collapse(detailsDiv, {
                    toggle: true
                });
            });
        });

        $('.container.my-5').on('click', '.page-link-ajax', function (e) {
            e.preventDefault();
            var $this = $(this); // Cache the jQuery object of the clicked link
            if ($this.data('requestRunning')) {
                // Prevent starting a new request if one is already running
                return;
            }
            $this.data('requestRunning', true); // Mark the request as running

            var page = $this.data('page');
            var baseUrl = '{% url 'survey:daily_content' %}';
            var target = $this.closest('.tab-pane').attr('id');
            var urlWithPage = `${baseUrl}?page=${page}`;

            $.ajax({
                url: urlWithPage,
                type: 'GET',
                success: function (data) {
                    $('#' + target).html(data);
                },
                error: function () {
                    console.error('Failed to fetch page');
                    $('#' + target).html('<p>An error has occurred. Please try again later.</p>');
                },
                complete: function () {
                    $this.data('requestRunning', false); // Reset the flag when the request completes
                }
            });
        });
    });
</script>




