.timeline {
  border-left: 1px solid #ccbbff;
  position: relative;
  left: 24px;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color: #ccbbff;
  left: -48px;
  border-radius: 50%;
  height: 31px;
  width: 31px;
  content: "";
}

.progressbar {
    margin: 50px 0 50px 0;
    counter-reset: step;
}
.progressbar li {
    list-style-type: none;
    width: 33%;
    float: left;
    font-size: 16px;
    position: relative;
    text-align: center;
    color: #7d7d7d;
}
.progressbar li:before {
    width: 15px;
    height: 15px;
    content: '';
    line-height: 30px;
    border: 2px solid #7d7d7d;
    background-color: #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    transition: all .8s;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 7px;
    left: -50%;
    z-index: -1;
    transition: all .8s;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active:before {
    border-color: #55b776;
    background-color: #55b776;
    transition: all .8s;
}
.progressbar li.active:after {
    background-color: #55b776;
    transition: all .8s;
}

//.btn {
//  background-color: #55b776;
//  margin: 5px;
//  width: 75px;
//  color: white;
//}
//.btn:hover {
//  color: white;
//}
//.btn:focus {
//  color: white;
//}
//.btn-container {
//  display: flex;
//  justify-content: center;
//  width: 100%;
//  position: absolute;
//  bottom: 0;
//}
